<!-- <button class="to-top-button">go top</button> -->
<i class="fas fa-angle-double-up to-top-button"  *ngIf=" isShowGoToTopButton$ | async" (click)="goToTop()"></i>
<div *ngIf="words" #wordsList infiniteScroll  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="20"
(scrolled)="onScroll()">


  <ng-container *ngIf="words.length !== 0">

    <div  class="search-results" >

      <ng-container *ngFor="let word of words | slice : 0 : showenItems ; trackBy: trackWords; let i = index">

        <app-word (action)="sendAction($event)" [userId]="userId" [word]="word" [isShowMenu]="isShowMenu"
          [menuItems]="menuItems" [isShowDefaultOptions]="isShowDefaultOptions">
        </app-word>


      </ng-container>

    </div>


  </ng-container>


  <!-- <button class="col-12" (click)="showMore()" type="button" nbButton outline status="default"
                  size="small">Show
                  more</button> -->

</div>

<!-- <ng-template #loader>
  <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
    <nb-card-body>
      Loading...
    </nb-card-body>
  </nb-card>
</ng-template> -->
