@import '../../../../styles/variables.scss';

.main-box {
  height: 100%;
  background-color: #323232;

  .title {
    font-size: 18px;
    color: $titleColor;
  }

  .sub-title {
    color: $titleColor;

  }
}
