<!-- <nb-card>
      <nb-card-header>
            <h6>Please select the language you want to learn</h6>
            <nb-icon [matMenuTriggerFor]="menu" icon="more-vertical-outline"></nb-icon>
      </nb-card-header>

      <nb-card-body class="row justify-content-center">
            <nb-select class="col-12" size="large" placeholder="Select language" [(ngModel)]="currentlanguageId">
                  <nb-option *ngFor="let language of languages" [value]="language._id">
                        {{language.name}}


                  </nb-option>


            </nb-select>




      </nb-card-body>

      <mat-menu #menu="matMenu" class="matmenu">
            <div class="menu">
                  <div (click)="dispatchAction('CHANGE MODE', 'newlanguage')" class="menuitem">
                        <nb-icon icon="edit-2-outline"></nb-icon>
                        <span class="ml-2">Add</span>
                  </div>
                  <div (click)="dispatchAction('EDIT', currentlanguageId)" class="menuitem">
                        <nb-icon icon="edit-2-outline"></nb-icon>
                        <span class="ml-2">Edit</span>
                  </div>
                  <div (click)="dispatchAction('DELETE', currentlanguageId)" class="menuitem">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                        <span class="ml-2">Delete</span>
                  </div>

            </div>


      </mat-menu>

      <div class="row justify-content-center">
            <div class="col-xl-5 submitBtnBox">
                  <button type="button" size="medium" nbButton (click)="dispatchAction('SELECT', currentlanguageId)"
                        status="success">Submit</button>

            </div>
      </div>


</nb-card> -->


<nb-card>
      <nb-card-body>

            <nb-tabset>
                  <nb-tab class="p-0" tabTitle="User languages" [badgeText]="userLanguages?.length"
                        badgeStatus="warning">

                        <nb-select class="col-12  mt-3 mb-3" size="large" placeholder="Select language"
                              [(ngModel)]="currentlanguageId">
                              <nb-option *ngFor="let language of userLanguages" [value]="language._id">
                                    {{language.name}}
                              </nb-option>
                        </nb-select>
                        <div class="row justify-content-center">
                              <div class="col-xl-5 submitBtnBox">
                                    <button type="button" size="medium" nbButton
                                          (click)="dispatchAction('SELECT', currentlanguageId)"
                                          status="success">Submit</button>

                              </div>
                        </div>
                  </nb-tab>
                  <nb-tab class="p-0" tabTitle="All languages" [badgeText]="allLanguages?.length" badgeStatus="warning">

                        <!-- <nb-select #AllLanguages multiple class="col-12 mt-3 mb-3" size="large"
                              placeholder="Select language">
                              <nb-option *ngFor="let language of allLanguages" [value]="language">
                                    {{language.name}}
                              </nb-option>


                        </nb-select> -->
                        <mat-form-field class="col-12 mt-3 mb-3">
                              <mat-label>Languages</mat-label>
                              <mat-select #AllLanguages multiple>
                                    <mat-option *ngFor="let language of allLanguages" [value]="language">
                                          {{language.name}}
                                    </mat-option>
                              </mat-select>
                        </mat-form-field>

                        <div class="row justify-content-center">
                              <div class="col-xl-5 submitBtnBox">
                                    <button type="button" size="medium" nbButton
                                          (click)="onAddLanguages([])"
                                          status="success">Submit</button>

                              </div>
                        </div>
                  </nb-tab>

            </nb-tabset>

      </nb-card-body>
</nb-card>