:host {
  direction: rtl;
  text-align: justify;
}


.pronoun{
  font-size: 24px;
  padding: 5px 0;

}

.conj {
  font-size: 25px;
  padding: 5px 0;
  display: block;
}

.question-mark {
  font-size: 24px;
  padding: 5px 0;
  display: block;
}

.icon {
  font-size: 23px;
}
