<!-- <div class="loading-screen text-center" *ngIf="isShowMainScreen$ | async; else mainContent">
  <img class="image" src="../../../../assets/icons/on-white-192.png" alt="">
</div> -->
<!-- <ng-template #mainContent> -->
  <app-header></app-header>
  <nb-layout>



    <nb-layout-column class="pr-0 pl-0 p-0">
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-xs-12 col-xl-6 p-0">

            <router-outlet></router-outlet>

          </div>

        </div>
      </div>
    </nb-layout-column>


  </nb-layout>
  <div class="fixed-footer">
    <app-footer></app-footer>
  </div>
<!-- </ng-template> -->
