.word {
  margin-top: 10px;
  width: 300px;
  text-align: center;

  span {
    // font-family: 'Muli', "Helvetica Neue", sans-serif !important;
    font-family: 'Muli', "Helvetica Neue", sans-serif !important;

    font-weight: 600;
    overflow-wrap: break-word;
  }


}
