@import '../../../../styles/variables.scss';


mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid whitesmoke;

}

mat-expansion-panel-header {
  padding: 0 0 0 15px !important;

  i {
    font-size: 20px;
    margin-left: auto;
  }
}

.upload {
  min-height: 100px;

  i.fa-upload {
    color: #191a1a4d;
    font-size: 80px;
    margin-top: 10px;
    width: 100%;
  }

  i.fa-info {
    font-size: 18px;
    margin-top: 10px;
    color: #696a6a;
  }


}

.instruction {
  background-color: #d5d5d5;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;

  .title {
    font-size: 16px;
    color: #000000;
  }

  img {
    margin-top: 5px;
  }
}
