<!-- <ng-container *ngIf="isResetCsvHandlerState$ | async"></ng-container> -->
<mat-expansion-panel class="group-statistics mb-3" hideToggle [expanded]="_expanded">
  <section class="download"></section>

  <section class="upload text-center">
    <div class="d-flex">
      <i class="fas fa-info" (click)="showInstruction()"></i>
      <i class="fas fa-upload" (click)="fileInput.click()"></i>
    </div>

    <p class="mt-2" *ngIf="selectedFile">{{selectedFile.name}}</p>
    <input #fileInput type="file" (change)="showFile(fileInput.files[0])" multi name="uploadFile" hidden>


    <a [ngClass]="{'disabled': isLoading}" *ngIf="selectedFile && !isLoading" (click)="onUpload(fileInput.files[0])"
      class="custom-button dark mb-3 w-50">Upload</a>
    <a class="custom-button light get-conjugations-btn w-50" [ngClass]="{'disabled': true}"  *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </a>
  </section>

</mat-expansion-panel>

<ng-template #instruction>
    <ng-content></ng-content>
</ng-template>
