/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: 'Roboto', "Helvetica Neue", sans-serif !important;


}

body {
  margin: 0;
}

.level-row {
  justify-content: space-between;
}

.bad {
  background-color: #e81a1ac2 !important;
  border-color: #e81a1ac2 !important;
  color: white !important;
}

.better {
  background-color: #ff7f24bf !important;
  border-color: #ff7f24bf !important;
  color: white !important;
}

.medium {
  background-color: #f4e25f !important;
  border-color: #f4e25f !important;
  color: white !important;
}

.good {
  background-color: #81db64db !important;
  border-color: #81db64db !important;
  color: white !important;
}

.excellent {
  background-color: #6c7bec !important;
  border-color: #6c7bec !important;
  color: white !important;
}

.basic {
  background-color: whitesmoke !important;
  border-color: whitesmoke !important;
  color: rgb(22, 17, 17) !important;
}

.purpleButton {
  background-color: darkorchid !important;
  border-color: darkorchid !important;
  color: #e0d8d8 !important;
}

.custom-progress-bar {
  .progress-value {
    background-color: #9932cc !important;
    border-color: #9932cc !important;
    font-size: 11px !important;
    transition: 1.5s;
    animation: move 2s;

    @keyframes move {
      from {
        width: 0px;
      }
    }


  }

  .progress-container {
    height: 10px !important;
  }


}

mat-tab-group .mat-tab-labels {
  justify-content: space-around;
}

.padding-0 {
  mat-dialog-container {
    padding: 0 !important
  }
}

html {
  scroll-behavior: smooth;
}

.custom-groups-select {

  font-size: 10px !important;
  ;


  span {
    font-size: 15px !important;
  }

  mat-select {
    font-size: 15px !important;
  }

  .mat-select-arrow-wrapper {
    transform: unset !important;
  }
}
