<div class="reg-title text-center">Registration</div>



<form [formGroup]="registrationForm" (ngSubmit)="createUser()" class="text-center">

  <div class="error-box" *ngIf="registrationError$ | async as error">
    <span class="error-message ">{{error}}</span>
  </div>

  <input formControlName="nickName" autocomplete="name" class="mb-2" type="text" nbInput fullWidth placeholder="Name" required>
  <ng-container *ngIf="registrationForm.get('nickName').touched && registrationForm.get('nickName').hasError">
    <span class="error-message" *ngIf="registrationForm.get('nickName').hasError('required') ">
      Name should not be empty</span>
  </ng-container>


  <div class="mb-2">
    <input formControlName="email" autocomplete="email" type="text" nbInput fullWidth placeholder="Email">
    <ng-container *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError">
      <span class="error-message" *ngIf="registrationForm.get('email').hasError('required') ">
        Email should not be empty</span>
      <span class="error-message" *ngIf="registrationForm.get('email').hasError('email')">
        Email format is not correct</span>
    </ng-container>
  </div>


  <div class="mb-1">
    <input autocomplete="off" formControlName="password" [ngClass]="{'error': isPasswordsDontMatch}" type="password" nbInput fullWidth
      placeholder="Password">
    <span class="error-message"
      *ngIf="registrationForm.get('password').touched && registrationForm.get('password').hasError('required')">
      Password should not be empty</span>
    <span class="error-message" *ngIf="isPasswordsDontMatch">Passwords do not
      match.</span>
  </div>
  <div class="mb-4">
    <input autocomplete="off" formControlName="confPassword" [ngClass]="{'error': isPasswordsDontMatch}" type="password" nbInput fullWidth
      placeholder="Confirm password">
    <span class="error-message" *ngIf="isPasswordsDontMatch">Passwords do not
      match.</span>
  </div>

  <div class="row justify-content-center mt-5">

    <a class="col-8 mb-2 custom-button dark" [ngClass]="{'confirm-btn': !(isSubmitting$ | async)}"
      [disabled]="isSubmitting$ | async" nbButton>Sign Up</a>
    <div class="col-12 mt-2">
      <span>Already have an account?<a style="cursor: pointer" [routerLink]="['/login']">Sign In</a></span>
    </div>
  </div>
</form>
