<!-- <mat-error *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}</mat-error> -->


<app-loader [show]="vocabularyLoader$ | async"></app-loader>

<nb-card class="main-content">

  <nb-card-header>
    <div class="d-flex" *ngIf=" !(vocabularyLoader$ | async) && userWordsFiltredByGroupAndSearchValue$ | async as words">
      <span *ngIf="words.length !== 0 && !searchValueControl.value" class="search">
        <app-search [filterValue]="searchValueControl" (addWord)="getActionFromChildren($event)">

        </app-search>
      </span>
    </div>
  </nb-card-header>

  <nb-card-body class="p-3">



    <app-groups></app-groups>


    <ng-container *ngIf="(selectedGroup$ | async ) as selectedGroup">
      <div class="d-flex">
        <a *ngIf="selectedGroup._id !== '2'" (click)="openModal('New word', modalUiWrapper)"
          class="custom-button light mb-3 w-100">Add word</a>

        <i *ngIf="selectedGroup._id !== '2'" class="fas fa-file-csv" (click)="showUploader()"></i>

      </div>
      <!-- <button *ngIf="selectedGroup !== '1' && selectedGroup !== '2'" (click)="showWordsForAssign()"
        class="purpleButton mb-3 w-100" type="submit" nbButton size="small">Add words</button> -->
    </ng-container>


    <section class="mb-4 statistics">
      <app-group-statistics [statistics]="groupStatistics$ | async"></app-group-statistics>
    </section>

    <section class="csv-manager">
      <app-csv-manager
       [expanded]="isShowUploader"
        [selectedGroup]="selectedGroup$ | async"

      ></app-csv-manager>
    </section>

    <app-word-list
      (action)="getActionFromChildren($event)"
      [filterValue]="searchValueControl.valueChanges"
      [menuItems]="wordMenuItems$ | async"
      [selectedGroup]="selectedGroup$ | async"
      [words]="userWordsFiltredByGroupAndSearchValue$ | async">
    </app-word-list>


    <app-status-message
      (openCsvUploader)="showUploader()"
      [words]="userWordsFiltredByGroupAndSearchValue$ | async"
      [searchValue]="searchValueControl.value"
      [selectedGroup]="selectedGroup$ | async"
      [isLoading]="vocabularyLoader$ | async">
    </app-status-message>


  </nb-card-body>

</nb-card>

<div class="assign-words-container">

</div>

<!-- WORD FORM TEMPLATE -->
<ng-template #wordFormTemplate>
  <form [formGroup]="wordForm">
    <input formControlName="word" class="mb-1 w-100" type="text" fieldSize="small" nbInput placeholder="Word">
    <br>
    <input formControlName="translation" class="mb-2 w-100" type="text" fieldSize="small" nbInput
      placeholder="Translation">
  </form>
  <!-- <mat-error *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}</mat-error> -->
</ng-template>


<!-- MODAL EDIT, ADD WORD  -->
<ng-template #modalUiWrapper let-data let-ref="dialogRef">
  <app-modal-ui [isLoading]="modalLoader$ | async" [title]="titleForModal"
    [mode]="titleForModal === 'Edit word' ? 'update' : 'create'" (save)="addNewWord()" (update)="updateWord()"
    (cancel)="closeWordModal()">
    <ng-container *ngTemplateOutlet="wordFormTemplate"></ng-container>
  </app-modal-ui>
</ng-template>

<!-- MODAL DELETE WORD
<ng-template #deleteWordModal let-data let-ref="dialogRef">
  <app-modal-ui
    [isLoading]="modalLoader$ | async"
    [title]="titleForModal"
    [mode]="'delete'"
    (save)="deleteWord()"
    (cancel)="closeWordModal()">
    <mat-error *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}</mat-error>
  </app-modal-ui>
</ng-template> -->
