:host {
  direction: rtl;
  text-align: justify;
}

table {
  margin-bottom: 30px;
  margin: auto;
}

.word-name {
  padding: 0;
  font-size: 32px
}

.word-translation{
  padding: 0;
  font-size: 24px
}

.icon {
  font-size: 27px;
}
