.header {
  // background: rgb(249, 141, 58);
  height: 50px;
  background: linear-gradient(266deg, rgba(249, 141, 58, 1) 0%, rgba(133, 22, 138, 1) 90%);

}

.language-name {
  font-size: 14px;


  a {
    color: #e0d8d8;
    text-decoration: none;
  }
}

.words-quantity {
  font-size: 14px;
  color: #e0d8d8;
}

.menu-title {
  text-align: center;
  font-weight: 700;
  color: #e0d8d8;

  span {
    font-size: 16px;
  }
}
