<div [nbSpinner]="loadingSpinner" nbSpinnerStatus="warning" class="mt-5">
  <div class="container">
    <div class="row align-items-center justify-content-center" *ngIf="allWords$ | async as words">
      <!-- <nb-select [formControl]="groupForTraining" class="mb-3 col-1" placeholder="Select mode">
      <nb-option [value]="group._id" *ngFor="let group of wordGroups$ | async">{{group.name}}-{{group.wordQuantity}}
      </nb-option> -->

      <div class="col-12 text-center" *ngIf="!start">

        <div class="instruction-title">
          <span> Select group you want to train</span>
        </div>

        <app-groups *ngIf="!start" [wordGroups]="wordGroups$ | async" [selectedGroup]="selectedTrainingGroupId$ | async"
          (selectGroup)="setGroupForTraining($event)">

        </app-groups>


      </div>

      <div class="empty-word-list-warning mt-5" *ngIf="isBlockStart$ | async">
        <span>Add at least 5 words to continue</span>
      </div>

      <!-- <nb-option *ngIf="unknownMode" value="unknown"> Unknown - {{userRandomWords.length }}</nb-option> -->
      <!-- </nb-select> -->
      <!-- <div class="col-3" *ngIf="start">
      <div class="row">
        <span class="col-12">Right:<strong>{{knownWords}}</strong></span>
        <span class="col-12">Wrong:<strong>{{notknownWords}}</strong></span>
      </div>
    </div> -->

    </div>
  </div>

  <!-- <app-instructions *ngIf="!start">

      </app-instructions> -->
  <div class="text-center start-btn" *ngIf="!start">
    <ng-container *ngIf="allWords$ | async as words">
      <button type="buttom" [disabled]="isBlockStart$ | async" [ngClass]="{'purpleButton': !(isBlockStart$ | async) }"
        (click)=" startTrain()" class="col-10 mb-2" nbButton>
        Start
      </button>
    </ng-container>

  </div>

  <!-- <ng-container *ngIf="currentTrainingWord$ | async as word"> -->
    <app-train [animationState]="animationState" [word]="currentTrainingWord$ | async" (resetAnimationState)="resetAnimationState()"
      (setKnowledgeLevel)="nextWordAndSetWordLevel($event)" (toTrainResult)="goToTrainResult()" *ngIf="start">
    </app-train>
  <!-- </ng-container> -->

</div>
