<div class="row">
      <div class="col-6">
            <img style="width: 150px; height: 150px" src="../../assets/Photos/2fb6b3788b.png" alt="">
      </div>
      <div class="col-6">
            <img style="width: 150px; height: 150px" src="../../assets/Photos/finger-swipe-icon-22.jpg" alt="">
      </div>
      <div class="col-6">
            <p><strong> Swipe left if you know word.</strong></p>
      </div>
      <div class="col-6">
            <p><strong> Swipe up if you don't know word. Automatically add to favorites.</strong></p>
      </div>
      <div class="col-6">
            <img style="width: 150px; height: 150px" src="../../assets/Photos/2fb6b3788b1.png" alt="">

      </div>
      <div class="col-6">
            <p class="mt-4"><strong> Swipe right to show previous word.</strong></p>

      </div>

      <div class="col-12 text-center">
            <ng-content></ng-content>

      </div>

    
</div>