@import '../../../styles/variables.scss';

.main-box {
  background-color: white;
  height: 600px;
  overflow: auto;
  padding: 20px;
  min-width: 330px;
}

.submit-btn-box {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.first-word-title {
  color: $titleColor;

}
