<div class="main-box">

  <div class="d-flex header">
    <h4>Select words</h4>

  </div>

  <ng-container *ngIf="words$ | async as words">


    <div class="d-flex search-box">
      <span class="search">
        <app-search [filterValue]="filterControl"></app-search>
      </span>
      <button [disabled]="loading" *ngIf="selectedWords.length > 0" [ngClass]="{'purpleButton': !loading}" class=" ml-2"
        size="tiny" nbButton (click)="assignWords(group, selectedWords)">Add</button>
      <button class="ml-2" size="tiny" nbButton status="warn" (click)="closeDialog()">Cancel</button>
    </div>

    <ng-container *ngIf="loading">
      <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
        <nb-card-body>
          Loading...
        </nb-card-body>
      </nb-card>
    </ng-container>

    <div class="mt-4">
      <app-word-list [words]="words" [showenItems]="words.length" (action)="getAction($event)" [isShowMenu]="false"
        [isShowDefaultOptions]="false">
      </app-word-list>
    </div>




    <ng-container *ngIf="words?.length === 0">
      <div class="text-center mt-2">
        <span class="first-word-title">Word not found</span>
      </div>
    </ng-container>
  </ng-container>


</div>
