<!-- <form [formGroup]="editForm"> -->
<div class="row">

      <nb-icon [matMenuTriggerFor]="menu" icon="more-vertical-outline"></nb-icon>
      <mat-menu #menu="matMenu" class="matmenu">
            <div class="menu">
                  <div (click)="dispatchAction('EDIT WORD', word)" class="menuitem">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                        <span class="ml-2">Edit</span>
                  </div>
                  <div (click)="dispatchAction('DELETE WORD', word)" class="menuitem">
                        <nb-icon icon="edit-2-outline"></nb-icon>
                        <span class="ml-2">Delete</span>
                  </div>
            </div>


      </mat-menu>


      <h5 class="col-9"> {{word.word}}</h5>
      <div class="col-1 ">
            <!-- <nb-checkbox formControlName="favorite" (change)="onSaveEditedWord()" status="success"></nb-checkbox>
                                          <span style="font-size: 12px">favorite</span> </nb-checkbox> -->

            <img (tap)="dispatchAction('IS FAVORITE', word)" *ngIf="!word.isFavorite" style="width: 30px; height: 30px"
                  src="../../assets/Photos/aa21eb60437133bf4f4be189636a187a-star-favorite-outline-icon-by-vexels.png"
                  alt="">
            <img (tap)="dispatchAction('IS FAVORITE', word)" *ngIf="word.isFavorite" style="width: 30px; height: 30px"
                  src="../../assets/Photos/aa21eb60437133bf4f4be189636a187a-star-favorite-outline-icon-by-vexels1.png"
                  alt="">
      </div>
      <span style="font-size: 17px" class="ml-3 col-9 mb-3"><i>{{word.translation}}</i></span>

      <ng-content></ng-content>
</div>

<hr>