.to-top-button {
  position: fixed;
  bottom: 96px;
  left: 20px;
  z-index: 10;
  font-size: 50px;
  color: rgba(20, 18, 18, 0.534);
  animation-name: fadeShow;
  animation-duration: 1s;
}

/* The animation code */
@keyframes fadeShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


