.cardHeaderFront {
  background-color: #9c2e7b !important
}

.level {
  height: 30px;
  padding: 5px;
  text-align: center;
}


.level-row {
  justify-content: space-between;

  .bad {
    background-color: whitesmoke;
  }

  .better {
    background-color: whitesmoke;
  }

  .medium {
    background-color: whitesmoke;
  }

  .good {
    background-color: whitesmoke;
  }

  .excellent {
    background-color: whitesmoke;
  }
}
