@import '../../../styles/variables.scss';

.cardHeaderFront {
  background-color: #d16455 !important
}

.level {
  height: 30px;
  padding: 5px;
  text-align: center;
}


.knowledge-level-panel {
  box-shadow: none;
  background-color: transparent;
}

.question-title {
  span {
    font-size: 16px;
    color: $titleColor;
  }

  margin-bottom: 10px
}

.word-card {
  min-height: 200px;
  max-height: 250px;
}

.card-title {
  color: $titleColor
}
