
  <app-select-language
  [candidateToLearn]="languageIdCandidateToLearn"
    [currentlanguageId]="(currentLearningLanguage$ | async)?._id"
    [userLanguages]="userLanguages$ | async"
    [allLanguages]="allLanguages$ | async"
    [selectedTab]="selectedTab"

    (addLanguage)="addLanguageToUserLanguages($event)"
  (deleteUserLanguage)="deleteUserLanguage($event)"
  (selectUserLanguageForLearning)="setCurrentLearningLanguage($event)"

	>
  </app-select-language>

<ng-template #loader>
  <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
    <nb-card-body>
      Loading...
    </nb-card-body>
  </nb-card>
</ng-template>
