<div *ngIf="allLanguages$ | async as languages; else loader">

      <app-select-language (selectLanguage)="addLanguageToCandidates($event)" (addLanguages)="addUserLanguages()" (action)="getActionFromChildren($event)" *ngIf="languages.length !== 0 && mode === 'initial'"
            [currentlanguageId]="(currentLearningLanguage$ | async)?._id" [allLanguages]="languages" [userLanguages]="userLanguages$ | async">
      </app-select-language>

      <app-new-language (changeMode)="changeMode('initial')"  *ngIf="languages.length === 0 || mode === 'newlanguage'">
      </app-new-language>

      <app-edit-language (changeMode)="changeMode('initial')"  [language]="editingLanguage$ | async"  *ngIf="languages.length !== 0 && mode === 'editlanguage'"></app-edit-language>

</div>

<ng-template #loader>
      <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
            <nb-card-body>
                  Loading...
            </nb-card-body>
      </nb-card>
</ng-template>