<div class="sub-title mb-3">
  <span class="d-block"> Add verb or few verbs.</span>
</div>
<div class="d-flex">
  <input type="text" [disabled]="isLoading$ | async" [formControl]="verbsInput" fieldSize="small" nbInput fullWidth placeholder="verb; verb2; verb3">
  <a class="custom-button light get-conjugations-btn w-100" *ngIf="!(isLoading$ | async)"
    (click)="onSendVerbs()">Get</a>
  <a class="custom-button light get-conjugations-btn w-100" [ngClass]="{'disabled': true}"  *ngIf="isLoading$ | async">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </a>

</div>
