@import '../../../../styles/variables.scss';

.first-word-title {
  color: $titleColor;
  line-height: 2;

  i {
    color: #646464;
    font-size: 20px;
  }

  a {
    color: #252527;
    font-weight: 700;
    cursor: pointer;
  }
}
