@import '../../../../styles/variables.scss';

.cardHeaderFront {
  background-color: #9c2e7b !important
}

.level {
  text-align: center;
}



.instruction-title {
  margin-bottom: 20px;
  margin-top: 20px;

  span {
    font-size: 18px;
    color: $titleColor;
  }
}

.start-btn {
  margin-top: 300px
}

.empty-word-list-warning {
  font-size: 18px;
  color: $titleColor;
}
