nb-card {
  margin-bottom: 10px;
}

nb-card-header {
  padding: 10px 20px;
  font-size: 18px;
}

nb-card-body {
  padding: 0 !important;
}

nb-accordion-item,
nb-accordion-item-header {
  padding: 5px 15px;
}
