<nb-card>
  <nb-card-header>
    {{verbWithConjugations.verb}}
  </nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item *ngFor="let conjugation of verbWithConjugations?.conjugations">
        <nb-accordion-item-header>
          {{conjugation.time}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <ng-container *ngFor="let conjugationTemplate of conjugation | conjugationTemplate">
            <app-verb-table-row
              [conjugation]="conjugationTemplate"
              [showText]="true"
              [isShowEyeIcon]="false"
              [style.--text-size]="'20px'"
              [style.--font-weight]="'500'"
              >
            </app-verb-table-row>
          </ng-container>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
