@import '../../../styles/variables.scss';

.title {
  text-align: center;

  span {
    font-size: 18px;
  }
}

.sub-title {

  span {
    color: $titleColor;
  }
}

.search {
  margin-top: 20px;

  background-color: whitesmoke;

  div {
    z-index: 100;
    position: sticky;
    top: 0;
  }
}
