@import '../../../styles/variables.scss';

.title {
  text-align: center;

  span {
    font-size: 18px;
  }
}

.sub-title {
  text-align: center;

  span {
    color: $titleColor;
  }

  a{
    color: #252527;
    font-weight: 700;
  }

  i {
    color: #646464;
    font-size: 20px;
  }
}

.search {
  margin-top: 20px;

  background-color: whitesmoke;
  z-index: 100;

  position: sticky;
  top: 0;
  padding: 10px;

}
