<div class="container h-100" *ngIf="isShowMenu">
      <div class="row align-items-center h-100">
            <div class="col-3 text-center">
                  <a routerLink="/vocabulary"><i class="fas fa-list-alt"></i></a>

            </div>
            <div class="col-3 text-center">
                  <a routerLink="/word-training"><i class="fas fa-dumbbell"></i></a>

            </div>
            <div class="col-3 text-center">
                  <a routerLink=""><i class="fas fa-users"></i></a>


            </div>
            <div class="col-3 text-center">
                  <a routerLink=""><i class="fas fa-cog"></i></a>


            </div>
      </div>
</div>
