<div class="container h-100" >
      <div class="row align-items-center h-100">
            <div class="col-3 text-center">
                  <a routerLink="/vocabulary" (click)="navigationService.navigateTo('/vocabulary')" routerLinkActive="isActive"><i class="fas fa-list-alt nav-icon"></i></a>

            </div>
            <div class="col-3 text-center">
                  <a routerLink="/word-training" routerLinkActive="isActive"><i class="fas fa-dumbbell nav-icon"></i></a>

            </div>
            <div class="col-3 text-center">
                  <a routerLink="/general-words" routerLinkActive="isActive"><i class="fas fa-users nav-icon"></i></a>
            </div>
            <div class="col-3 text-center">
                  <a routerLink="/settings" routerLinkActive="isActive"><i class="fas fa-cog nav-icon"></i></a>


            </div>
      </div>
</div>
