<nb-card class="main-content" *ngIf="wordsFiltredByGroup$ | async as words; else loader">



  <nb-card-header>
    <!--
    <h3>Add your words here<button (click)="getWordsFromText()" class="purpleButton" type="submit" nbButton size="small">Parse</button>
    </h3>
    <textarea [formControl]="wordsList"  nbInput fullWidth placeholder="Add your words here"></textarea> -->
    <!--
    <button (click)="openWordModal('Add word')" class="purpleButton" type="submit" nbButton size="small">Add
      word</button> -->
    <div class="d-flex">
      <span>
        <button (click)="openWordModal('Add word')" class="purpleButton" type="submit" nbButton size="small">Add
          word</button>
      </span>
      <span class="search">
        <app-search [filterValue]="filterValue" (addWord)="getActionFromChildren($event)"></app-search>
      </span>
    </div>
  </nb-card-header>

  <nb-card-body>

    <app-groups [wordGroups]="wordGroups$ | async" [selectedGroup]="selectedGroup$ | async"
      (selectGroup)="selectedGroup$.next($event)">

      <nb-icon class="ml-1" [matMenuTriggerFor]="menu" icon="more-vertical-outline"></nb-icon>
      <mat-menu #menu="matMenu" class="matmenu">
        <div class="menuitem">
          <nb-icon icon="trash-2-outline"></nb-icon>
          <span class="ml-2" (click)="openGroupModal('Add group')">Create</span>
        </div>
        <div class="menuitem" *ngIf="selectedGroup$.getValue() !== '1' && selectedGroup$.getValue() !== '2'">
          <nb-icon icon="trash-2-outline"></nb-icon>
          <span class="ml-2" (click)="showWordsForAssign()">Add
            words</span>
        </div>
        <div class="menuitem" *ngIf="selectedGroup$.getValue() !== '1' && selectedGroup$.getValue() !== '2'">
          <nb-icon icon="edit-2-outline"></nb-icon>
          <span class="ml-2" (click)="deleteWordGroup(selectedGroup$.getValue())">Delete</span>
        </div>
      </mat-menu>

    </app-groups>

    <app-word-list (action)="getActionFromChildren($event)" [pageSize]="pageSize" [trackWords]="trackWords"
      [filterValue]="filterValue.valueChanges" [menuItems]="wordMenuItems" [selectedGroup]="selectedGroup$ | async" [words]="words">
    </app-word-list>
  </nb-card-body>

</nb-card>

<ng-template #loader>
  <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
    <nb-card-body>
      Loading...
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #wordModal let-data let-ref="dialogRef">
  <nb-card class="wordDialogBox">
    <nb-card-header class="modal-header">
      <h4>{{titleForModal}}</h4>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="newWordForm" class="row justify-content-center">
        <input formControlName="word" class="mb-1 col-12" type="text" fieldSize="small" nbInput placeholder="Word">
        <input formControlName="translation" class="mb-2 col-12" type="text" fieldSize="small" nbInput
          placeholder="Translate">
      </form>
    </nb-card-body>
    <nb-card-footer class="wordDialogFooter">
      <button nbButton status="danger" (click)="closeWordModal()">Cancel</button>
      <button class="purpleButton" *ngIf="titleForModal === 'Add word'" nbButton (click)="addNewWord()">Submit</button>
      <button class="purpleButton" *ngIf="titleForModal === 'Edit word'" nbButton
        (click)="updateWord(editWordOldValue, newWordForm.value)">Update</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #groupModalRef let-data let-ref="dialogRef">
  <nb-card class="groups-modal">
    <nb-card-header>
      <h4>{{titleForModal}}</h4>
    </nb-card-header>
    <nb-card-body>
      <input [formControl]="groupName" class="mb-1 col-12" type="text" fieldSize="small" nbInput placeholder="Word">
    </nb-card-body>
    <nb-card-footer class="wordDialogFooter">
      <button nbButton status="danger" (click)="groupModal.close()">Cancel</button>
      <button *ngIf="titleForModal === 'Add group'" nbButton (click)="createNewGroup()">Submit</button>
      <button *ngIf="titleForModal === 'Edit group'" nbButton s>Update</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
