@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 1;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  // 30% {
  //   opacity: 1;
  //   transform: translateY(-100px);
  // }

  100% {
    opacity: 1;
    transform: translateY(700px);
  }
}


// ANIMATIONS

.animateSlideIn {
  transition: all 0.2s;
  animation: slideIn 0.3s ease-in;
}
.animateSlideOut {
  transition: all 0.2s;
  animation: slideOut 0.4s ease-in;
}

.animateSlideInTop {
  transition: all 0.3s;
  animation: slideInTop 0.4s linear;
}
.animateSlideOutBottom {
  // transition: all 0.3s;
  animation: slideOutBottom 0.6s linear;
}
