@import '../../../../styles/variables.scss';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  padding: 0 15px 0 15px;
}

.toolbar-name {
  font-size: 17px;
  color: #403c3cd4;
}


