<span class="text-center login-title">Welcome</span>



<div class="error-box" *ngIf="isShowLoginError">
  <span class="error-message ">Incorrect username or password</span>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="text-center">
  <div class="mb-2">

    <input [ngClass]="{'error': isShowLoginError}" formControlName="email" type="text" nbInput fullWidth
      placeholder="Email">
    <ng-container *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError">
      <span class="error-message" *ngIf="loginForm.get('email').hasError('required') ">
        Email should not be empty</span>
      <span class="error-message" *ngIf="loginForm.get('email').hasError('email')">
        Email format is not correct</span>
    </ng-container>


  </div>
  <div class="mb-4">
    <input formControlName="password" [ngClass]="{'error': isShowLoginError}" type="password" nbInput fullWidth
      placeholder="Password">
    <span class="error-message"
      *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
      Password should not be empty</span>
  </div>

  <div class="row justify-content-center mt-5">

    <button type="submit" class="col-8 mb-2 confirm-btn" size="medium" nbButton>Login</button>

    <div class="col-12 mt-2">
      <span>Don't have an account?<a (click)="goToRegistration()"> Sign Up</a></span>
    </div>
  </div>
</form>
