<div class="translator-container container">

  <form [formGroup]="translationForm">
    <div class="row header align-items-baseline">
      <mat-form-field class="col-5">
        <mat-select placeholder="Language" formControlName="textLang">
          <mat-option *ngFor="let lang of supportedLanguagesForTranslation$ | async" [value]="lang.shortcut">
            {{lang.language}}
          </mat-option>

        </mat-select>
      </mat-form-field>


      <div class="swap-icon-block col-2 text-center">
        <i (click)="swapLanguages()" class="fas fa-exchange-alt swap-icon "></i>
      </div>

      <mat-form-field class="col-5">
        <mat-select placeholder="Language" formControlName="translationLang">
          <mat-option *ngFor="let lang of supportedLanguagesForTranslation$ | async" [value]="lang.shortcut">
            {{lang.language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="content">
      <div class="text d-block">
        <label>Text</label>
        <div class="input-group">
          <textarea class="form-control" formControlName="text" aria-label="With textarea"></textarea>
        </div>
      </div>
      <div class="translation d-block mt-2">
        <label>Translation</label>
        <div class="input-group">
          <textarea class="form-control" formControlName="translation" aria-label="With textarea"></textarea>
        </div>
      </div>

      <a (click)="translateText()" class="custom-button light mb-3 w-100 mt-3">Translate</a>
    </div>

  </form>
</div>
