<nb-card>
      <nb-card-header>
            <h6>Please add the name of the language</h6>
      </nb-card-header>
      <nb-card-body *ngIf="language else loader" class="selection-card row justify-content-center">

            <input class="col-12 mb-4" type="text" nbInput fullWidth fieldSize="medium" placeholder="Name of language"
                  [(ngModel)]="language.name">

            <button type="button" (click)="onEdit()" size="medium" class="col-5" nbButton
                  status="success">Update</button>
            <button type="button" (click)="onCancel()" size="medium" class="col-5 ml-1" nbButton
                  status="warning">Back</button>
      </nb-card-body>

      <ng-template #loader>
            <nb-card-body [nbSpinner]="true" nbSpinnerStatus="basic">
                  Loading...
            </nb-card-body>
      </ng-template>
</nb-card>